<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Products</title>
    <!-- Bootstrap CSS Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Font Awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- CSS File -->
    <link href="style.css" rel="stylesheet">
    </link>

    <!-- Data Table -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    </link>
    <link rel="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css">
    </link>
    <style>
        body {
            padding-bottom: 76px;
            padding-top: 76px;
        }

        .title {
            text-shadow: 0 0 3px #0000ff, 0 0 3px #0000ff;
            margin: 0px;
        }

        .logo {
            width: 100%;
            height: 100%;
            padding: 0px;
            margin: 0px;
            object-fit: contain;
            margin-right: 0px;
        }
    </style>
</head>

<body>
    <div class="container-fluid  p-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-info p-1 fixed-top">
            <div class="container-fluid pl-0">
                <div style="width:250px; height:60px;" class="d-flex">
                    <a href="/admin/dashboard"><img src="https://i.imgur.com/SkliARr.png" alt="" class="logo"></a>
                    <a href="/admin/dashboard" class="d-flex align-items-center text-decoration-none">
                        <h3 class="text-center fw-2 text-warning pt-1 title ps-0 ms-0">Shopcart</h3>
                    </a>
                </div>
                <a class='btn btn-danger text-light px-3 fw-bold float-right my-3' href="/admin/adminLogout">Logout</a>
            </div>
        </nav>
        <h2 class="text-center mt-4 text-dark fs-1 fw-bold">All Products</h2>
        <div class="container-fluid my-4 text-center">
            <a href="" class="btn btn-success text-light px-4 py-3 fw-bold">Import CSV</a>
            <a href="" class="btn btn-success text-light px-4 py-3 fw-bold">Export CSV</a>
        </div>
        <div class="container">

            <table class="table table-bordered table-striped mb-3" id="example" style="width:100%; margin:auto;">
                <thead class="bg-info text-center">
                    <tr>
                        <th>Sr No.</th>
                        <th>Product Title</th>
                        <th>Product Image</th>
                        <th>Product Price</th>
                        <th>Total Sold</th>
                        <th>Bestseller</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody class=" text-center">
                    <% for( let i=0; i < getProducts.length; i++ ) { %>


                        <tr>
                            <td>
                                <%= i+1 %>
                            </td>
                            <td>
                                <%= getProducts[i].product_title %>
                            </td>
                            <td><img src="/productsImages/<%= getProducts[i].product_image1 %>" alt="" width="40px"
                                    height="40px" style="object-fit:contain;"></td>
                            <td><i class='fa fa-inr fs-6' aria-hidden='true'></i>
                                <%= getProducts[i].product_price %>
                            </td>
                            <td>
                                <% let foundMatch=false; %>
                                    <% for (let index=0; index < orderPendingResult.length; index++) { %>
                                        <% if (getProducts[i].product_id==orderPendingResult[index].product_id) { %>
                                            <%= orderPendingResult[index].productCount %>
                                                <% foundMatch=true; %>
                                                    <% break; %>
                                                        <% } %>
                                                            <% } %>
                                                                <% if (!foundMatch) { %>
                                                                    0
                                                                    <% } %>


                            </td>
                            <td>
                                <%= getProducts[i].bestseller %>
                            </td>
                            <td><a href="/admin/editProducts/<%= getProducts[i].product_id %>" class="text-dark"><i
                                        class="fa-solid fa-pen-to-square"></i></a></td>
                            <td><a href="/admin/deleteProducts/<%= getProducts[i].product_id %>" class="text-dark"><i
                                        class="fa-solid fa-trash" onclick="return chkdel()"></i></a>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function chkdel() {
            return confirm("Are you sure you want to delete this product?");
        }
    </script>
    <!-- Bootstrap JS Link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
    <script>new DataTable('#example');</script>
</body>

</html>