<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopcart User Profile</title>
    <!-- favicon -->
    <link rel="icon" href="https://i.imgur.com/SkliARr.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://i.imgur.com/SkliARr.png" type="image/x-icon">

    <!-- Bootstrap CSS Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Font Awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- CSS File -->
    <link href="../style.css" rel="stylesheet">
    </link>

    <!-- Bootstrap JS Link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <style>
        body {
            padding-top: 76px;
            /*padding-bottom:57px;*/
        }

        .logo {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .my_img {
            height: 70%;
            width: 70%;
            object-fit: contain;
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <!-- Nav Bar -->
    <div class="container-fluid p-0">
        <!-- First Child -->
        <nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
            <div class="container-fluid">
                <div style="width:250px; height:60px;" class="d-flex">
                    <a href="../"><img src="https://i.imgur.com/SkliARr.png" alt="" class="logo"></a>
                    <a href="../" class="d-flex align-items-center text-decoration-none">
                        <h3 class="text-center fw-2 text-warning pt-1 title ps-0 ms-0">Shopcart</h3>
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <% if (!isLoggedIn) { %>
                            <li class="nav-item">
                                <a class="nav-link ms-2" href="/register">Register</a>
                            </li>
                            <% }else{%>
                                <li class="nav-item">
                                    <a class="nav-link ms-2 active" href="/account">My Account</a>
                                </li>
                                <%} %>
                                    <li class="nav-item">
                                        <a class="nav-link ms-2" href="/contactUs">Contact</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link ms-2" href="/cart"><i
                                                class="fa-solid fa-cart-shopping"></i><sup class="fs-5">
                                                <%= totalQuantity %>

                                            </sup></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link ms-2" href="#" id="totalPriceLink">Total Price: <i
                                                class="fa fa-inr fs-6" aria-hidden="true"></i>
                                            <%= totalAmount %>
                                        </a>
                                    </li>
                    </ul>
                    <!-- search -->
                    <% if (!isLoggedIn) { %>
                        <a class='btn btn-danger text-light ms-4 px-3' href='/login'>Login</a>
                        <%}else{%>
                            <a class='btn btn-danger text-light ms-4 px-3' href='/logout'>Logout</a>
                            <%}%>
                </div>
            </div>
        </nav>

        <!-- Second Child -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary mt-0 pt-0">
            <ul class="navbar-nav">
                <% if (!isLoggedIn) { %>
                    <li class='nav-item'>
                        <h2 class='fs-3 mt-2 ms-3 p-0 text-light welcome'>Welcome Guest</h2>
                    </li>
                    <% }else{%>
                        <li class='nav-item'>
                            <h2 class='fs-3 mt-2 ms-3 p-0 text-light welcome'>Welcome <%= username %>
                            </h2>
                        </li>
                        <%} %>
            </ul>
        </nav>


        <!-- Third Child -->
        <div class="row">
            <div class="col-md-2 p-0 mt-5">
                <ul class="navbar-nav bg-secondary text-center" style="height:100%;">
                    <li class="nav-item bg-info">
                        <a class="nav-link" href="#">
                            <h3 class="text-light fw-bold fs-2 profile">My Profile</h3>
                        </a>
                    </li>
                    <li class='nav-item'>
                        <img src='uploads/<%= userProfileImage %>' alt='' class='my_img mt-3'>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-light m-0" href="" onclick="fetchPendingOrders(event)">Pending
                            Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light m-0 " href="" onclick="fetchEditAccount(event)">Edit Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light m-0 " href="" onclick="fetchUserOrders(event)">My Orders</a>
                    </li>
                    <li class="nav-item pb-5">
                        <a class="nav-link text-light m-0" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10" id="profileSetting">
                <% if (pendingOrdersCount==0 || pendingOrdersCount) { %>
                    <%- include('../user/includes/pendingOrdersCount.ejs',{pendingOrdersCount:pendingOrdersCount}) %>
                        <% } %>

            </div>

        </div>
    </div>
    <footer class="bg-info text-dark text-center py-3">
        <p class="mb-0">All Rights Reserved &copy; - Designed by Simran Saini - 2024</p>
    </footer>

    <script>
        function fetchPendingOrders(event) {
            event.preventDefault();
            fetch('/getPendingOrders', {
                method: 'POST', // Specify the method as POST
            })
                .then(response => response.json())
                .then(data => {
                    const pendingOrdersCount = data.pendingOrdersCount;
                    console.log("data.pendingOrdersCount", data.pendingOrdersCounts)
                    const pendingOrdersContent = document.getElementById('profileSetting');
                    if (pendingOrdersCount > 0) {
                        const countContent = `<h3 class='text-center mt-5 mb-2 fs-1 text-success'>You have <span class='text-danger'>${pendingOrdersCount}</span> Pending Orders.</h3>
                        <p class='text-center'><a href="#" onclick="fetchUserOrders(event)" class='text-dark'>Order Details</a></p>`;
                        pendingOrdersContent.innerHTML = countContent;
                    } else {
                        const exploreProductsLink = `<h3 class='text-center mt-5 mb-2 fs-1 text-success'>You have Zero Pending Orders.</h3>
                        <p class='text-center'><a href='/' class='text-dark'>Explore Products</a></p>`;
                        pendingOrdersContent.innerHTML = exploreProductsLink;
                    }
                })
                .catch(error => {
                    console.error('Error fetching pending orders:', error);
                });
        }

        function fetchUserOrders(event) {
            event.preventDefault();
            fetch('/myOrders', {
                method: 'POST', // Specify the method as POST
            })
                .then(response => response.json())
                .then(data => {
                    const profileSetting = document.getElementById('profileSetting');
                    if (data.success && data.user_orders.length) {
                        const groupedOrders = groupByAmountAndInvoice(data.user_orders);
                        const ordersTableHTML = `
                    <h3 class="text-center text-success mt-5">All My Orders</h3>
                    <table class="table table-bordered mt-3">
                        <thead class="bg-info text-center">
                            <tr>
                                <th style="font-size:15px">Sr No.</th>
                                <th style="font-size:15px">Total Amount</th>
                                <th style="font-size:15px">Invoice Number</th>
                                <th style="font-size:15px">Product Name</th>
                                <th style="font-size:15px">Product Image</th>
                                <th style="font-size:15px">Quantity</th>
                                <th style="font-size:15px">Product Price</th>
                                <th style="font-size:15px">Date</th>
                                <th style="font-size:15px">Complete/Incomplete</th>
                                <th style="font-size:15px">Status</th>
                            </tr>
                        </thead>
                        <tbody class="bg-secondary text-light text-center">
                        ${groupedOrders.map((group, groupIndex) => group.map((order, index) => `
                            <tr>
                            ${index === 0 ? `<td rowspan="${group.length}" style="vertical-align:middle;font-size:15px">${groupIndex + 1}</td>` : ''}
                            ${index === 0 ? `<td rowspan="${group.length}" style="vertical-align:middle;font-size:15px">${order.amount_due}</td>` : ''}
                            ${index === 0 ? `<td rowspan="${group.length}" style="vertical-align:middle;font-size:15px">${order.invoice_number}</td>` : ''}
                            <td style="font-size:13px">${order.product_title}</td>
                            <td><img src="images/${order.product_image1}" width="35px" height="35px" style="object-fit:contain"></td>
                            <td style="font-size:13px">${order.quantity}</td>
                            <td style="font-size:13px">${order.product_price}</td>
                            ${index === 0 ? `<td rowspan="${group.length}" style="vertical-align:middle;font-size:15px">${formatDate(order.order_date)}</td>` : ''}
                            ${index === 0 ? `<td rowspan="${group.length}" style="vertical-align:middle;font-size:15px">${order.order_status === 'pending' ? 'Incomplete' : 'Complete'}</td>` : ''}
                           ${index === 0 ? `
                            <td rowspan="${group.length}" style="vertical-align:middle">
                                ${order.order_status === 'Complete' ? 'Paid' : `
                                    <a href='/account/confirmOrders/${order.order_id}' class='text-light' style="font-size:12px">Confirm</a>
                                    <a href='#' class='text-light' onclick='chkdel(event, ${order.order_id})' style="font-size:12px">Cancel</a>
                                `}
                            </td>` : ''}

                            </tr>
                        `).join('')).join('')}
                        </tbody>
                    </table>`;

                        profileSetting.innerHTML = ordersTableHTML;
                    } else {
                        profileSetting.innerHTML = '<h3 class="text-center text-danger fs-1 mt-5">No orders yet</h3>';
                    }
                })
                .catch(error => {
                    console.error('Error fetching user orders:', error);
                });
        }

        function formatDate(dateString) {
            const options = { year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
            const formattedDate = new Date(dateString).toLocaleDateString('en-US', options);
            return formattedDate;
        }


        function groupByAmountAndInvoice(userOrders) {
            const groupedOrders = [];

            userOrders.forEach(order => {
                const existingGroup = groupedOrders.find(group => group[0].amount_due === order.amount_due && group[0].invoice_number === order.invoice_number);

                if (existingGroup) {
                    existingGroup.push(order);
                } else {
                    groupedOrders.push([order]);
                }
            });

            return groupedOrders;
        }

        async function chkdel(event, orderId) {
            event.preventDefault();
            if (confirm("Are you sure you want to cancel this order?")) {
                try {
                    const response = await fetch(`/cancel-order/${orderId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    });

                    if (response.ok) {
                        console.log('Order canceled successfully.');
                        await fetchUserOrders(event);
                        console.log('FetchUserOrders completed.');
                    } else {
                        console.error('Failed to cancel order:', response.statusText);
                    }
                } catch (error) {
                    console.error('Error in the fetch request:', error);
                }
            }
        }


        async function fetchEditAccount(event) {
            event.preventDefault();

            // Fetch the edit account form
            try {
                const response = await fetch('/editAccount', {
                    method: 'GET',
                });

                if (response.ok) {
                    const data = await response.text();
                    $('#profileSetting').html(data);

                    $('#profileSetting form').on('submit', async function (event) {
                        event.preventDefault();

                        const formData = new FormData(document.getElementById('yourFormId'));
                        console.log([...formData.entries()]);

                        try {
                            const updateResponse = await fetch('/account/updateAccount', {
                                method: 'POST',
                                body: formData,
                            });

                            if (updateResponse.ok) {
                                const data = await updateResponse.json();
                                console.log(data);

                                const usernameErrorSpan = $('#yourFormId').find('.text-danger-username');
                                const usermailErrorSpan = $('#yourFormId').find('.text-danger-usermail');
                                const imageErrorSpan = $('#yourFormId').find('.text-danger-image');
                                const addErrorSpan = $('#yourFormId').find('.text-danger-add');
                                const contactErrorSpan = $('#yourFormId').find('.text-danger-contact');

                                usernameErrorSpan.html('');
                                usermailErrorSpan.html('');
                                imageErrorSpan.html('');
                                addErrorSpan.html('');
                                contactErrorSpan.html('');
                                if (Object.values(data.validate).every(value => value === '')) {
                                    await updateFormDataInDatabase(formData)
                                }
                                else {
                                    usernameErrorSpan.html(data.validate.username_error || '');
                                    usermailErrorSpan.html(data.validate.usermail_error || '');
                                    imageErrorSpan.html(data.validate.image_error || '');
                                    addErrorSpan.html(data.validate.add_error || '');
                                    contactErrorSpan.html(data.validate.contact_error || '');
                                }


                            } else {
                                console.error('Error updating account:', updateResponse.statusText);
                            }
                        } catch (error) {
                            console.log('Error updating account:', error);

                        }
                    });
                } else {
                    console.error('Error fetching Edit Account content:', response.statusText);
                }
            } catch (error) {
                console.error('Error fetching Edit Account content:', error);
            }
        }

        async function updateFormDataInDatabase(formData) {
            fetch('/account/updateFormDataInDatabase', {
                method: 'POST',
                body: formData,
            })
                .then(response => response.json())
                .then(data => {
                    console.log("data======", data);

                    if (data.success) {
                        alert("Updated Successfully")
                        setTimeout(() => {
                            window.location.reload()
                        }, 1000);
                    } else {
                        console.log("error")
                    }
                })
                .catch(error => {
                    console.error('Error updating form data in the database:', error);
                });
        }


    </script>


    <!-- Bootstrap JS Link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</body>

</html>